# Data Science Tools and Ecosystem

In this notebook, Data science tools and Ecosystem are summarized

**Objectives**
- Python
- R
- SQL
- JavaScript

### Some of the popular languages that data scientist use are:
1. Python 
2. R 
3. SQL

Some of the commonly used libraries used ny data scienctists are:
1. Tensorflow
2. NumPy 
3. Sci-Kit

| Data Science Tools |
| ------------------ |
| RStudio |
| Apache Spark |
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
print(" This is a simple arithmetic expression to multiply then add integers ")
(3*4)+5

 This is a simple arithmetic expression to multiply then add integers

17

In [4]:
print(" This will convert 200 minutes to hours by dividing by 60 ")

 This will convert 200 minutes to hours by dividing by 60

## Author
Ntombizanele Sodach